body {
  padding: 50px;
  background-color: #999;
}
.editor {
  font-size: 14px;
  line-height: 18px;
  font-family: Monaco, monospace;
  background-color: #fff;
  color: #999;
  height: 200px;
  width: 400px;
  overflow: auto;
  border: none;
  white-space: pre-wrap;
  resize: vertical;
  padding: 10px;
}
